.menu li {
    display: inline-block;
}

.menu {
    background-color: rgba(255, 255, 255, 0.4);
}

header {
    background-image: url('../images/LeCrans_10_ps.jpg');
    background-repeat: no-repeat;
    height: 300px;
    /*position: absolute;*/
}

main {
    margin-top: -150px;
    display: block;
    width: 100%;
}

#content {
    padding: 20px;
}

header p {
    background-color: rgba(255, 255, 255, 0.4);
}

body {
    background-color: #e2e2e2;
}

.demo-card-image.mdl-card {
    width: 256px;
    height: 256px;
}
.demo-card-image > .mdl-card__actions {
    height: 52px;
    padding: 16px;
    background: rgba(0, 0, 0, 0.2);
}
.demo-card-image__filename {
    color: #fff;
    font-size: 14px;
    font-weight: 500;
}